

#navbar .nav-brand img{
    height: 80px;
    border-radius: 50%;
    animation: rotateAnimation 6s infinite linear; 
    
}

header{
    background-color: #333;
    box-shadow: 0 4px 7px rgba(0, 0, 0, 0.25);
}
header #navbar{
   display: flex;
   align-items: center;
   justify-content: space-between;

   max-width: 1240px;
   margin: 0 auto;
   padding: 0 2rem;
   height: 85px;
}

header #navbar .nav-brand{
    display: flex;
    align-items: center;

    gap: 1rem;
}

header #navbar ul.nav-list{
    display: flex;
    align-items: center;
    list-style-type: none;
    gap: 1rem;
}

header #navbar ul.nav-list li a {
    color: #707070;
    font-size: 1.1rem;
    transition: all 0.3s ease;
}

header #navbar ul.nav-list li a:hover, li:hover{
    color: #fff;
    transform: scale(1.1);
    transition: transform 0.3s;
}

@keyframes rotateAnimation {
    0% {
        transform: rotate(0deg);
    }
    100% {
        transform: rotate(360deg);
    }
}